<div class="auth-container">
  <div class="auth-box">
    <h1>Create Account</h1>
    <p>Do more. Stress less!!</p>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()" >
      <input type="text" placeholder="Name" formControlName="name" />
      <input type="email" placeholder="Email" formControlName="email" />
      <input type="password" placeholder="Password" formControlName="password" />
      <input type="password" placeholder="Confirm password" formControlName="confirmPassword" />
      <button type="submit">Register</button>
      <ngx-spinner type="ball-beat" size="medium"></ngx-spinner>

    </form>
    <p class="switch">Already have an account? <a routerLink="/login">Login</a></p>
  </div>
</div>
