<div class="auth-container">
  <div class="auth-box">
    <h1>Create Account</h1>
    <p>Do more. Stress less!!</p>
    <form>
      <input type="text" placeholder="Name" required />
      <input type="email" placeholder="Email" required />
      <input type="password" placeholder="Password" required />
      <input type="password" placeholder="Confirm password">
      <button type="submit">Register</button>
    </form>
    <p class="switch">Already have an account? <a routerLink="/login">Login</a></p>
  </div>
</div>
