form{
    max-width: 400px;
    margin: 80px auto;
    padding: 16px 16px 24px;
    border-radius: 6px;
}

h1{
    margin-top: 0px;
    color: orangered;
    padding-bottom: 4px;
    border-bottom: 2px solid orangered;
}
.form-group{
    margin-bottom: 16px;
    label{
        display: block;
        width: 100%;

    }
}
button{
    width: 30%;
    background-color: orangered;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}